<div class="grid-item full-width">
  <details>
    <summary>Personal Background</summary>
    <p>
      Raised on a NE Iowa farm, attended a <a href="https://www.w-central.k12.ia.us/">small town school</a>,
      as well as a <a href="https://www.wartburg.edu">small town college</a>.
      <br>
      <br>
      I like technology in general. I like servers less and less, and software more and more.
      <br>
      <br>
      I'm not a social butterfly, but I have experimented with various meetup groups.
      The one that has "stuck" so far started as a learn Haskell study group, but has <a
        href="https://www.meetup.com/Des-Moines-Functional-Programming/">morphed slightly</a>.
    </p>
  </details>
  <details>
    <summary>Some things I like</summary>
    <ul class="list-unstyled">
      <li>
        <h3>Motorsports</h3>
        <ul class="list-unstyled">
          <li><a href="https://www.formula1.com">F1</a></li>
          <li><a href="https://www.indycar.com">IndyCar</a></li>
          <li><a href="https://www.fiaformulae.com">FormulaE</a></li>
          <li><a href="https://www.imsa.com">IMSA</a></li>
          <li><a href="https://www.fiawec.com">WEC</a></li>
        </ul>
      </li>
      <li>
        <h3>The Arts</h3>
      </li>
      <li>
        <h3>Music</h3>
        mostly metal, thrash, hard rock, etc.
      </li>
      <li>
        <h3>Musical theater</h3>
        I have fond memories of Les Miserables, Miss Saigon, State Fair, etc.
      </li>
    </ul>
  </details>
</div>