<div class="grid-item full-width">
  <h1>Craig Treptow</h1>
</div>
<div class="grid-item full-width">
  <h2>Most everywhere my avatar looks like this:</h2>
  <img src="images/penguin_ascii_square_small.png" alt="ASCII art Linux Tux" width="240" height="240">
</div>
