<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css" />
    <title>Craig Treptow</title>
  </head>
  <body>
    <div class="grid-container">
      <div class="grid-item full-width">
        <a href="index">Home</a>
        <a href="about">About</a>
        <a href="learning">Learning</a>
        <a href="resume">Resume</a>
        <a href="projects">Projects</a>
        <a href="social">Social</a>
        <a href="https://blog.craigtreptow.com/">Blog</a>
      </div>
    </div>
    <%= yield %>
    <div class="grid-item full-width">
      <footer class="footer">
        <hr>
        <address>
          <a href="mailto:craig@craigtreptow.com">craig (at) craigtreptow (dot) com</a>
        </address>
      </footer>
    </div>
  </body>
</html>