<div class="grid-item left-third">
  Working on:
</div>
<div class="grid-item center-third">
  <ul class="list-unstyled">
    <li>
      <a href="https://www.alchemist.camp/">Alchemist Camp</a>
      <details>
        <summary>Thoughts</summary>
        What made me look at this was searching for "elixir screencasts", and then seeing these words: "Learn
        Elixir and Phoenix by building things".
        That sounds like exactly what I want right now.
      </details>
    </li>
  </ul>
  Recently finished:
  <ul class="list-unstyled">
    <li> <a href="https://codestool.coding-gnome.com/courses/elixir-for-programmers-2/">Elixir for Programmers,
        Second Edition</a>
      <details>
        <summary>Thoughts</summary>
        I took the first edition of this course around 4 years ago. My interests changed to Scala, but now I'm
        back with Elixir.
        Both versions of this course are pretty good. The way Dave takes you through thinking about how to build
        an application
        are good. He does admit to being a bit "unconventional" at time, which is good. It is definitely a good
        course to take.
      </details>
    </li>
    <li> <a href="https://fpsimplified.com/">Functional Programming Simplified</a>
      <details>
        <summary>Thoughts</summary>
        This book is really good!. The author has clearly been on the same path, since he picks topics I've
        already thought about as I'm learning. He writes from his
        personal experience, and yet seems to cover all the topics in a way that cuts through the jargon and tells
        you what it actually is. It's a great book that I will
        reference, for sure.
      </details>
    </li>
    <li>
      <a href="https://www.manning.com/books/get-programming-with-scala">Get Programming with Scala</a>
      <details>
        <summary>Thoughts</summary>
        This was a "hot mess" for a lack of better words. I wanted to like and enjoy this book, but it just wasn't
        that good. I don't think I'll pick this book up again.
      </details>
    </li>
    <li>
      <a href="https://www.udemy.com/course/rock-the-jvm-scala-for-beginners/">Scala & Functional Programming
        Essentials</a>
      <details>
        <summary>Thoughts</summary>
        This was a really good course! Once I can work with Scala everyday, I won't need it, but for learning, it
        is
        really good. Daniel does annoy me a little bit when he labels
        things as "easy". Not everybody thinks "easy" things actually are, myself included. I will likely refer to
        this course occasionally.
      </details>
    </li>
  </ul>
</div>
