<div class="grid-item full-width">
  <p> <a href="https://www.linkedin.com/in/craigtreptow/">LinkedIn Profile</a> </p>
  <p> <a href="docs/Resume-Craig-Treptow.pdf" target="_blank">Resume(PDF)</a> </p>
  <p>
  <details>
    <summary>Personal Background</summary>
    <p>I'm a developer with a background in network and system administration.</p>
    <p>
      Recently, I've been working in primarily Ruby with Rails, some Javascript (jQuery, Vue.js, Angular). I
      also
      spend a fair amount of time doing " devops" things (e.g. DB maintenenace, performance tweaking and
      monitoring, etc.) You probably can't see much, since they are private repos, but checkout "Social"
      above,
      if you want to take a look.
    </p>
    <p>I've spent time learning Elixir, Haskell, and more recently, Scala.</p>
    <p>If you want to see more detail, checkout "Social" above.</p>
  </details>
  <details>
    <summary>Looking For</summary>
    This is just a list of things I think I'm looking for in a next gig:
    <ul class="list-unstyled">
      <li>Functional Programming (or mostly)
        <ul class="list-unstyled">
          <li>I've done procedural, OOP, and now want to dive head-first into FP</li>
          <li>Yeah, you can FP in almost any language, but I'm looking to work with more strongly-typed "functional first" languages</li>
          <li>Today, I am really liking Scala, but Elixir was also a favorite(minus the strong typing)</li>
        </ul>
      </li>
      <li>"Back-endy"
        <ul class="list-unstyled">
          <li>I like messing with browsers, CSS, and hacky JavaScript less and less as the years go by</li>
          <li>I enjoy more things farther away from the front-end, I think.</li>
          <li>Related to the above, working in some other non-web app arena would be fresh and fun, I suspect
          </li>
          <li>This could be "dev-opsy", or "developer-toolsy", but the details will matter, I guess.</li>
        </ul>
      </li>
      <li>People</li>
      <ul class="list-unstyled">
        <li>People that are open to new ideas and thoughts.</li>
        <li>It is important to be listended to and to feel that way. No matter if we agree or not.</li>
        <li>People that actually want to help each other</li>
        <li>I'd like to feel like I'm on a team and not just taking up space in the same building.</li>
      </ul>
      <li>Remote
        <ul class="list-unstyled">
          <li>Thanks to the pandemic, I'm ready to go remote full-time</li>
        </ul>
      </li>
    </ul>
  </details>
  </p>
</div>
