<div class="grid-item full-width">
  <ul class="list-unstyled">
    <li><a href="https://gitlab.com/CraigTreptow">GitLab</a></li>
    <li><a href="https://github.com/craigtreptow">GitHub</a></li>
    <li><a href="https://github.com/ctreptow">GitHub (work)</a></li>
    <li><a href="https://stackexchange.com/users/130564/craig-treptow">Stack Overflow</a></li>
    <li><a href="https://stackoverflow.com/story/craigtreptow">Stack Overflow Developer Story</a></li>
    <li><a href="https://twitter.com/craigtreptow">Twitter</a></li>
    <li><a href="https://www.linkedin.com/in/craigtreptow">LinkedIn</a></li>
  </ul>
</div>